.main-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;
    color: #000;
    z-index: 1;
    a{
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }
    .nav-links{
        display: flex;
        list-style: none;

        .nav-link{
            a{
                margin: .2rem;
                padding: 1rem .5rem;
            }
            a:hover{
                background:rgba(255,255,255, 0.2) ;
            }
        }
    }

    &.scrolled {
        height: 80px;
        background: rgba(0,0,0,0.9);
        color: #fff;
    }
}